<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:layoutDirection="rtl"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        
        <activity
            android:name=".MainActivity"
            android:exported="false" />
            
        <activity
            android:name=".TeamsActivity"
            android:exported="false" />
            
        <activity
            android:name=".CourtsActivity"
            android:exported="false" />
            
        <activity
            android:name=".ScheduleActivity"
            android:exported="false" />
            
        <activity
            android:name=".AllCourtsViewActivity"
            android:exported="false" />
            
        <activity
            android:name=".CourtScheduleActivity"
            android:exported="false" />
            
        <activity
            android:name=".AddEditCourtActivity"
            android:exported="false" />
            
        <activity
            android:name=".ManageUsersActivity"
            android:exported="false" />
            
        <activity
            android:name=".PlayerDetailsActivity"
            android:exported="false" />
            
        <activity
            android:name=".TeamPlayersActivity"
            android:exported="false" />
            
        <activity
            android:name=".AddPlayersActivity"
            android:exported="false" />

        <activity
            android:name=".AddTrainingActivity"
            android:exported="false" />

        <activity
            android:name=".EditTrainingActivity"
            android:exported="false" />
            
    </application>

</manifest>
